<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>projectID</key>
	<string>1F765CBC-DD8D-4B58-B90A-EF2BB8220738</string>
	<key>pluginID</key>
	<string>ctx.flybits.locationDeviceAnalytics</string>
</dict>
</plist>
